exports.config = {
    port : "3000",
    siteName: "localhost:3000",
    secret: "ilovecoding",
    cookieKey:"iwantyourcookie",
    ServerKey:"",
    apiKey:"",
    mail:{
        user: "cyril@isaacgarrick.com",
        pass: "Cyril@1234",
        port: "465",
        host: "isaacgarrick.com",//
        secure: "true",
    }
}
