<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add</title>
</head>
<body>
    <h1 style="text-align: center;">Am The Add section</h1>
    <hr>
    <form action="/report" method="post">
        <h2>add data </h2>

        <input type="text" name="Location" id="" value="Location">
        <input type="text" name="Tags" id="" value="tag,tag,tag,tags">
        <input type="time" name="time" id="" value="">
        <input type="date" name="date" id="" value="">
        <textarea name="des" id="" cols="30" rows="10">
            des..
        </textarea>
        <input type="text" name="droppoint" id="" value="dgate">
        <input type="file" src="" alt="">
        <input type="hidden" name="Usernamr" value="morooooHH">
        <button type="submit">Submit</button>
    </form>
</body>
</html>