<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1 style="text-align: center;">Welcome Guest</h1>
    <ul>
        <li><a href="/signup">signup</a></li>
        <li><a href="/signin">signin</a></li>
    </ul>
    <br><hr><br>
    <h3 style="text-align: center;"><span><a href="/search"> Search For You Stuff</a></span> || <span><a href="/add"> Add or Report A stolen Item</a></span> || <span><a href="/acc"> Account </a> </span></h3>
</body>
</html>